{% extends "cv_base.tex.jinja2" %}
{% import 'cv_macros.jinja2' as utils %}

{% block title %}@@@ name @@@ - Funding{% endblock %}
{% block subject %}Funding{% endblock %}

{% block document %}
{\Huge @@@ name @@@, Ph.D. - Funding}

\vspace{3mm}

@@@ utils.make_fundings(fundings) @@@

{% endblock %}
