{% extends "cv_base.tex.jinja2" %}
{% import 'cv_macros.jinja2' as utils %}

{% block title %}@@@ name @@@ - Publications{% endblock %}
{% block subject %}Publications{% endblock %}

{% block document %}
{\Huge @@@ name @@@, Ph.D. - Publications}

\vspace{3mm}

@@@ utils.make_publications(papers_dd, papers_stats) @@@

\section{Invited Presentations (Selected)}
\begin{enumerate}
\itemsep0.5em
{% for record in invited %}
    \item @@@ utils.render_talk(record) @@@
{% endfor %}
\end{enumerate}

\section{Talks and Posters (Selected)}
\begin{enumerate}
\itemsep0.5em
{% for record in submitted %}
    \item @@@ utils.render_talk(record) @@@
{% endfor %}
\end{enumerate}
{% endblock %}
